body{
background-color: peachpuff;
text-align: left;
background-color: darkred;
  }
#div1{

background-color: aqua;
font-weight: 900;
font-family: cursive;
font-style: oblique;
font-size: medium;
}
h1{

 font-family: 'font-family: 'Pacifico', cursive;
font: optional;
font-size: larger;
font-style: oblique;

}
h3{

font-family: fantasy;
font-weight: bold;
font-size: larger;
font-style: italic;

}
#login_button{
color: azure;
background-color:lightblue;

}
